DSN='host=postgres-user user=example_user password=example_password dbname=example_db port=5432 sslmode=disable'
POSTGRES_USER='example_user'
POSTGRES_PASSWORD='example_password'
POSTGRES_DB='example_db'
EXTERNAL_POSTGRES_PORT='5432'
REDIS_PASSWORD='example_password'
EXTERNAL_REDIS_PORT='6379'
REDIS_ADDRESS='redis-auth:6379'
PATH_VOLUMES='../../../volumes/data_auth_user'
JWT_SIGNATURE='O{uG{wrN,a2>|<zFul[&@zbv9siTKw]lZu|y@[tV:>^'
EXTERNAL_API_PORT='8080'
KAFKA_CLIENT_USER='example_user'
KAFKA_CLIENT_PASSWORD='example_password'
KAFKA_BOOTSTRAP='kafka-example:9092'
DELETED_USERS_TOPIC='deleted-users-topic'
SHARED_REDIS_ADDRESS='redis-shared:6379'
SHARED_REDIS_PASSWORD='shared_redis_password'
EXTERNAL_SHARED_REDIS_PORT='6380'
NOTIFICATION_TOPIC='notification-topic'